* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0077b6;
  --secondary: #0ef;
  --black: #000000;
  --white: #fff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --dark-green: #17443a;
  --red: #ff0000;
  --orange: #ff4500;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", "serif";
}
header {
  display: flex;
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
  justify-content: space-around;
  position: fixed; /* Makes the header fixed */
  top: 0; /* Positions it at the top */
  width: 100%; /* Ensures it spans the full width of the viewport */
  z-index: 1000; /* Ensures it appears above other content */
}
.logo {
  font-size: 1.3rem;
  cursor: pointer;
}
.logo h2 {
  font-family: "Lobster", Sans-serif;
}
nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}
nav ul li {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 15px;
}
nav ul li a {
  text-decoration: none;
  color: var(--white);
  text-decoration: none;
  padding-bottom: 5px;
}

nav ul li a.active {
  border-bottom: 2px solid rgb(255, 255, 255);
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    justify-content: space-between;
    padding: 10px;
  }
  nav ul {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background-color: var(--black);
    gap: 0;
    overflow: hidden;
  }
  nav ul li {
    padding: 15px;
  }
  .menu-icon {
    display: block;
    font-size: 25px;
    margin-top: 5px;
  }
  #menuList {
    transition: all.4s;
  }
}
/*home content*/
.container {
  padding-top: 120px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--black);
  color: white;
}
.profile {
  width: 300px;
  height: 300px;
  margin: auto;
  box-shadow: 0 0 25px var(--secondary);
  transition: 0.4s ease-in-out;
  border-radius: 50%;
}

.profile img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-name {
  margin-top: 50px;
}
.name {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
}

.welcome {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
}
.quotes {
  font-size: 1.2rem;
}
.quotes span {
  color: var(--primary);
  font-style: italic;
}
.btn {
  padding-top: 40px;
  justify-content: space-evenly;
}

.colored {
  padding: 15px 50px;
  background-color: var(--red);
  color: var(--white);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  font-size: 1rem;
}
.transparent {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
.text-animation span {
  position: relative;
}
.text-animation span::before {
  content: "Aspiring Web Developer";
  color: var(--secondary);
  animation: words 20s infinite;
}
.text-animation span::after {
  content: "";
  /*background-color: #ff0000;*/
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid --black;
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
  to {
    border-left: 2px solid #48cae4;
  }
}
@keyframes words {
  0%,
  20% {
    content: "Frontend Web Developer.";
  }
  21%,
  40% {
    content: "Web Design.";
  }
  41%,
  60% {
    content: "IT Service Desk.";
  }
  61%,
  80% {
    content: "Tech Support.";
  }
  81%,
  100% {
    content: "Printer Operator.";
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
.social-icons {
  padding-top: 40px;
  margin: 10px;
  gap: 20px;
  display: flex;
  justify-content: center;
}
.social-icons a {
  font-size: 2rem;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
.social-icons a:hover {
  filter: drop-shadow(0px 0px 10px rgba(7, 247, 255, 0.963));
  transition: all 0.3s ease-in-out;
}
/*responsive*/

@media screen and (max-width: 768px) {
  .container {
    padding-top: 80px;
    height: 105vh;
  }
  .profile {
    width: 220px;
    height: 220px;
  }
  .quotes {
    font-size: 1rem;
  }
  .name {
    font-size: 2rem;
  }
  .welcome {
    font-size: 1.3rem;
  }
  .colored {
    padding: 10px 30px;
  }
  .btn {
    padding-top: 20px;
  }
  .social-icons {
    padding-top: 20px;
  }
  .social-icons a {
    font-size: 1.7rem;
  }
  .text-animation {
    font-size: 1.5rem;
  }
  .text-animation span {
    font-size: 1.7rem;
  }
}
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}
/* General section layout */
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

/* Ensure each element starts hidden and moves into view */
.about-left img,
.about-right > *,
.about-right .address ul li,
.about-right .expertise ul li {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

/* Visible state for triggering animation */
.about-section.visible .about-left img,
.about-section.visible .about-right > *,
.about-section.visible .about-right .address ul li,
.about-section.visible .about-right .expertise ul li {
  opacity: 1;
  transform: translateY(0);
}

/* Stagger animations with delays */
.about-section.visible .about-left img {
  transition-delay: 0.2s;
}

.about-section.visible .about-right > *:nth-child(1) {
  transition-delay: 0.4s;
}

.about-section.visible .about-right > *:nth-child(2) {
  transition-delay: 0.6s;
}

.about-section.visible .about-right > *:nth-child(3) {
  transition-delay: 0.8s;
}

.about-section.visible .about-right .address ul li:nth-child(1) {
  transition-delay: 1s;
}

.about-section.visible .about-right .address ul li:nth-child(2) {
  transition-delay: 1.2s;
}

.about-section.visible .about-right .address ul li:nth-child(3) {
  transition-delay: 1.4s;
}

.about-section.visible .about-right .expertise ul li:nth-child(1) {
  transition-delay: 1.6s;
}

.about-section.visible .about-right .expertise ul li:nth-child(2) {
  transition-delay: 1.8s;
}

.about-section.visible .about-right .expertise ul li:nth-child(3) {
  transition-delay: 2s;
}

.about-section.visible .about-right .expertise ul li:nth-child(4) {
  transition-delay: 2.2s;
}

.about-left,
.about-right {
  flex: 1;
  max-width: 550px;
}
.style {
  font-weight: bold;
}
.about-left img {
  width: 420px;
  height: 70vh;
  border-radius: 10px;
  transform: scale(0.8) translateY(50px); /* Start smaller and moved down */
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.about-right ul li {
  display: flex;
  align-items: center;
}

.about-right h1 {
  color: var(--black);
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.about-right p {
  color: var(--black);
  font-size: 1.2rem;
}

.about-right .address {
  margin: 25px 0;
}

.about-right .address ul li {
  margin-bottom: 5px;
}

.address .address-logo {
  margin-right: 15px;
  color: var(--black);
}

.about-right .expertise ul {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expertise h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.expertise .expertise-logo {
  font-size: 25px;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .about-section {
    flex-direction: column;
    height: auto;
  }

  .about-left img {
    width: 100%;
    height: auto;
  }

  .about-right {
    padding: 20px;
    text-align: center;
  }

  .about-right h1 {
    font-size: 2rem;
  }

  .about-right p {
    font-size: 1rem;
    text-align: justify;
  }
  .address ul {
    align-items: center;
  }
  .address ul li {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .expertise ul li {
    flex-direction: column;
    align-items: flex-start;
  }

  .address .address-logo,
  .expertise .expertise-logo {
    margin-left: 5px;
  }

  .address .saprater {
    display: none;
  }

  .about-right .expertise ul {
    align-items: flex-start;
    width: 100%;
  }
}
.education {
  background-color: var(--black);
  padding: 100px 0;
}

.highlight {
  color: var(--white);
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 12px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

.card {
  padding: 15px 50px;
  position: relative;
  width: 50%;
  border-radius: 10px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.card img {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 32px;
  z-index: 1;
}

.left-card {
  left: 0;
}

.right-card {
  left: 50%;
}

.left-card img {
  right: -25px;
}

.right-card img {
  left: -25px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: var(--white);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.text-box {
  background: var(--white);
  padding: 30px 40px;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.text-box h2 {
  font-weight: 600;
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

.left-card-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--white);
  right: -15px;
}

.right-card-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--white);
  left: -15px;
}

/* Visible state for triggering animation */
.education.visible .card {
  opacity: 1;
  transform: translateY(0);
}

/* Stagger animations with delays */
.education.visible .card:nth-child(1) {
  transition-delay: 0.2s;
}

.education.visible .card:nth-child(2) {
  transition-delay: 0.4s;
}

.education.visible .card:nth-child(3) {
  transition-delay: 0.6s;
}

.education.visible .card:nth-child(4) {
  transition-delay: 0.8s;
}

@media screen and (max-width: 768px) {
  .education {
    padding-top: 10px;
  }

  .highlight {
    padding-bottom: 0px;
    font-size: 1.8rem;
    letter-spacing: 8px;
  }

  .timeline::after {
    left: 35px;
  }

  .card {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text-box {
    font-size: 13px;
    padding: 20px 30px;
  }

  .right-card {
    left: 0;
  }

  .left-card img,
  .right-card img {
    left: 10px;
  }

  .left-card-arrow,
  .right-card-arrow {
    border-right: 15px solid var(--white);
    border-left: 0;
    left: -15px;
  }
}
.skills {
  padding: 50px 0;
  background-image: url(skills-backg.jpg);
  height: 105vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}
.about-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-content {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 0 20px;
  margin: 0;
}
.heading {
  text-align: center;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
  letter-spacing: 5px;
}
.bar {
  font-size: 35px;
}

.technical-bars .bar {
  margin: 40px 0;
}
.technical-bars .bar:first-child {
  margin-top: 0;
}
.technical-bars .bar:last-child {
  margin-bottom: 0;
}
.technical-bars .bar .info {
  margin-bottom: 5px;
}
.technical-bars .bar .info span {
  font-size: 18px;
  font-weight: 500;
  animation: showText 8.5s 1s linear forwards;
  font-family: "Poppins", sans-serif;
  color: var(--white);
}
.technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: var(--black);
  transform-origin: left;
  transform: scaleX(0);
  animation: animateWidth 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes animateWidth {
  100% {
    transform: scaleX(1);
  }
}

.technical-bars .bar .progress-line span {
  height: 100%;
  background-color: var(--secondary);
  position: absolute;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  transform-origin: left;
  transform: scaleX(0);
  animation: animateWidth 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.progress-line.html span {
  width: 70%;
}

.progress-line.css span {
  width: 50%;
}

.progress-line.javascript span {
  width: 20%;
}

.progress-line.bootstrap span {
  width: 30%;
}

.progress-line.database span {
  width: 25%;
}
.progress-line.figma span {
  width: 75%;
}

.progress-line.photoshop span {
  width: 60%;
}
.progress-line.service span {
  width: 75%;
}
.progress-line.troubleshooting span {
  width: 80%;
}
.progress-line.format span {
  width: 90%;
}

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: var(--black);
  color: var(--white);
  font-size: 15px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
  content: attr(data-content);
}

.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  color: var(--white);
  border: 7px solid transparent;
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-color: var(--black);
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

@keyframes showText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.other-skills {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 0 20px;
  margin: 0;
}
.skills-content.animated,
.other-skills.animated {
  animation-name: animate;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .skills {
    padding: 20px 0;
    height: auto;
  }
  .skills-content,
  .other-skills {
    width: 100%;
    padding: 0 10px;
    margin: 0;
  }
  .heading {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .bar {
    font-size: 28px;
  }
  .technical-bars .bar .info span {
    font-size: 13px;
  }
  .progress-line span::after {
    font-size: 12px;
    top: -24px;
    right: -15px;
  }
}
.services {
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(131, 128, 128),
    rgba(7, 247, 255, 0.963)
  );
  padding-top: 80px;
}
.service-content {
  margin: 0 15%;
}
.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.box-service {
  align-items: center;
  flex-direction: column;
  height: 320px;
  width: 420px;
  background-color: var(--white);
  padding: 10% 7%;
  display: flex;
  transition: 0.5s;
  animation: animate 2s linear forwards;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: transform 0.5s, background 0.5s;
}
.box-service:hover {
  background-color: var(--primary);
  transform: scale(1.5);
  color: var(--white);
}
.size-icon {
  margin-bottom: 20px;
  font-size: 4rem;
}
.box-service p {
  text-align: justify;
  padding-top: 10px;
}
.services .service-content {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.services .service-content.visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 1200px) {
  .services {
    height: auto;
  }
  .service-content {
    margin: 5px;
  }
  .service-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .service-content {
    margin: 5px;
  }
  .service-box {
    grid-template-columns: 1fr;
  }
  .box-service {
    height: auto;
    width: 350px;
    margin: 0 auto;
    padding: 5% 7%;
  }
  .services {
    height: auto;
    padding-top: 30px;
  }
  .size-icon {
    margin-bottom: 0px;
    font-size: 3rem;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: gray;
}

.footer h2 {
  font-size: 15px;
  color: #ffffff;
}
