@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --primary: #0077b6;
  --secondary: #48cae4;
  --black: #333;
  --white: #fff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --dark-green: #17443a;
  --red: #ff0000;
}
.container-fluid {
  padding-top: 5%;
}
* {
  font-family: "Poppins", sans-serif;
}
.hello {
  color: var(--white);
  text-align: justify;
}
nav {
  transition: 0.3s;
}
.intro,
.name,
.self {
  color: var(--white);
}
/* Custom styles go here */
#home {
  background-image: url(/images/background.jpg);
  width: 100%;
  color: #fff; /* Set the text color */
  padding: 50px 0; /* Adjust the padding as needed */
}
/*
.highlight {
  background-color: #ffcc00;
  padding: 5px;
}
*/
.card {
  background-color: var(--secondary);
  text-align: center;
  width: auto;
  margin-left: auto;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(0, 212, 255, 0.3) 100%
  );
}

.card img {
  background-color: black;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}
/*
.btn-exp {
  background-color: var(--primary);
  width: 15%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-top: 3%;
  margin-bottom: 3.2%;
  transition: 0.3s;
}
.btn-exp:hover {
  width: 17%;
}
.btn-primary a {
  color: var(--white);
  text-decoration: none;
}
*/
#about {
  background-color: var(--white);
  width: 100%;
  color: var(--black);
}
.about-container {
  text-align: center;
  padding-top: 4%;
}
.about-me {
  text-transform: uppercase;
  letter-spacing: 4;
  text-align: center;
}
.line div {
  margin: 0 0.2rem;
  text-align: center;
}

.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  background: var(--primary);
  border-radius: 5px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line div:nth-child(2) {
  width: 10px;
  height: 8px;
  background: var(--black);
  border-radius: 50%;
}
.quotes p {
  color: var(--black);
  margin-top: 15px;
  font-size: 1.3rem;
}

.wants {
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(0, 212, 255, 0.3) 100%
  );
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wants img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.about-btn {
  padding: 7px 27px;
  background-color: var(--primary);
  border-radius: 8px;
}
.about-btn a {
  color: var(--white);
  text-decoration: none;
}
#skills {
  background-image: url(/images/juanjo-jaramillo-mZnx9429i94-unsplash-1024x683.jpg);
  width: 100%;
  color: #fff;
  padding: 50px 0;
}
.my-skills {
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(0, 212, 255, 0.3) 100%
  );
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.my-skills img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.skills-name {
  text-align: center;
}
.my-skills h4 {
  color: var(--white);
  text-align: center;
}
.my-skills p {
  color: var(--white);
  font-size: 0.7rem;
  text-align: center;
  text-align: justify;
}
#services {
  background-color: var(--white);
  width: 100%;
  color: var(--black);
  margin-bottom: 7%;
}

.services-container {
  text-align: center;
  padding-top: 4%;
}
.services-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services-card img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-top: 10px;
}
.services-card h5 {
  color: var(--black);
}
.services-card p {
  color: var(--black);
  font-size: 0.7rem;
  text-align: justify;
}
#contact {
  background-image: url(/images/contact-background\ 1.png);
  width: 100%;
  color: #fff; /* Set the text color */
  padding: 50px 0; /* Adjust the padding as needed */
}
.contact-container {
  text-align: center;
}
.custom-gradient {
  background: linear-gradient(
    to right,
    white,
    lightgray
  ); /* Define the gradient colors */
}
.social-icon {
  color: white; /* Set the color of the social media icons to white */
  font-size: 24px; /* Adjust the size of the icons as needed */
  margin-right: 10px; /* Add some spacing between the icons */
}
